html {
  overflow: hidden;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*App start*/

.container {
  display: flex;
  height: 100vh;
}

/*App end*/

/* Chat start */

.container-chatbox {
  flex-direction: column;
  width: 90%;
}

.chatroom-title {
  padding-left: 2%;
}

.message-user-image {
  height: 36px;
  width: 36px;
  border-radius: .2rem;
}

.message-form {
  display: flex;
  border: 2px solid #bbbdbf;
  border-radius: .375rem;
  min-height: 41px;
  outline: 0;
  box-shadow: none;
}

.message-text-area {
  flex: 1;
  color: #3D3C40;
  font-size: 0.9375rem;
  padding-left: 1%;
}

.chat-message {
  color: #2C2D30;
  font-size: 15px;
  padding-bottom: 3%;
  line-height: 22px
}

.message-content-container {
  padding-left: 3%;
  display: flex;
  padding: 4px;
}

.message-content-item-image {
  padding-right: 10px;
  padding-left: 30px;
  flex-direction: row;
  text-align: right;
}

.message-content-item-text {
  flex-direction: row;
  text-align: left;
}

.message-content-container:hover {
  background-color: #F9F9F9;
}

.message-content-header {
  font-weight: 900;
  color: #2C2D30;
}

.container-chat-history {
  overflow-y: auto;
  height: 81%;
}

.container-message-form {
  flex-direction: column;
  margin-right: 2%;
  margin-left: 2%;
}

/* Chat end */

/*Sidebar start*/

.container-sidebar {
  flex-direction: column;
  padding-right: 4%;
  padding-left: 1%;
  background: #4D394B;
  color: #AB9BA9;
  flex-basis: 220px;
  max-width: 260px;
}

.container-sidebar-chatrooms {
  overflow-y: auto;
}

.chatroom-link {
  color: #AB9BA9;
  font-weight: 900;
  font-size: 1rem;
  margin: 10%;
}

.sidebar-chatroom-link:hover {
  background-color: #3a2f39;
  width: 100%;
}

.new-messages {
  margin-top: 4%;
}

/*Sidebar end*/


/* Login start */

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#b5b1b1, #504f4f);
}

.box {
  width: 300px;
  margin: 5px;
  text-align: center;
}

.login-form {
  position: relative;
  bottom: 15%;
}

/* Login end */

/* Logout start */

.username-display {
  margin-bottom: 2%;
  color: #fff;
}

/* Logout end */

