.container {
  display: flex;
}

.container-sidebar {
  flex-direction: column;
}

.message {
  width: 90%;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.box {
  width: 300px;
  margin: 5px;
  text-align: center;
}
