body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.container-sidebar {
  flex-direction: column;
}

.message {
  width: 90%;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#b5b1b1, #504f4f);
}

.box {
  width: 300px;
  margin: 5px;
  text-align: center;
}

.login-form {
  position: relative;
  bottom: 15%;
}

